<div class="glass-effect shadow-2xl p-8 w-[512px] max-w-lg">
  <h2 class="text-3xl font-bold text-center text-gray-900 mb-6">Iniciar sesión</h2>
  <form [formGroup]="loginForm" autocomplete="off">
    <div class="mb-4">
      <label class="block text-gray-900 font-medium mb-2" for="username">
        Nombre de usuario
      </label>
      <input
        id="username"
        type="text"
        formControlName="username"
        placeholder="Tu nombre de usuario"
        class="input-glass"
      />
      @if (loginForm.controls.username.touched && loginForm.controls.username.errors?.['required']) {
        <p class="mt-1 text-sm text-white font-medium transition-opacity duration-200 ease-in">
          El campo es requerido
        </p>
      }
    </div>
    <div class="mb-6 relative">
      <label class="block text-gray-900 font-medium mb-2" for="password">
        Contraseña
      </label>

      <input
        id="password"
        placeholder="Tu contraseña"
        formControlName="password"
        type="password"
        class="input-glass"
        #password
      />

      <!-- Botón para mostrar/ocultar -->
      <button
        type="button"
        (click)="togglePassword('password')"
        class="absolute top-9 right-3 text-gray-500 hover:text-gray-700 focus:outline-none"
      >
        @if (password.type === 'password') {
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.477 0 8.268 2.943 9.542 7-1.274 4.057-5.065 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"/>
          </svg>
        } @else {
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"d="M13.875 18.825A10.05 10.05 0 0112 19c-4.477 0-8.268-2.943-9.542-7a10.05 10.05 0 012.107-3.592M6.223 6.223a10.004 10.004 0 0114.142 14.142M3 3l18 18"/>
          </svg>
        }
      </button>

      <!-- Mensajes de error -->
      @if (loginForm.controls.password.touched && loginForm.controls.password.errors?.['required']) {
        <p class="mt-1 text-sm text-white font-medium transition-opacity duration-200 ease-in">
          El campo es requerido
        </p>
      }
    </div>
    <button
      type="submit"
      (click)="validateForm()"
      class="w-full bg-white hover:bg-gray-300 text-gray-900 hover:text-slate-700 font-semibold py-2 px-4 rounded-lg transition duration-300"
    >
      Ingresar
    </button>
    <p class="text-center text-gray-800 text-sm font-semibold mt-4">
      ¿No tienes una cuenta?
      <a [routerLink]="'/auth/register'" class="text-white font-semibold hover:underline">Regístrate</a>
    </p>
  </form>
</div>
